@keyframes blink {
  0% {
    background: rgb(59, 32, 59);
  }
  15% {
    background: rgb(43, 2, 73);
  }
  30% {
    background: rgb(5, 5, 90);
  }
  42% {
    background: rgb(5, 61, 5);
  }
  50% {
    background: rgb(51, 51, 5);
  }
  70% {
    background: rgb(97, 64, 3);
  }
  85% {
    background: rgb(92, 2, 2);
  }
  100% {
    background: rgb(95, 32, 95);
  }
}

@-webkit-keyframes blink {
  0% {
    background: rgb(59, 32, 59);
  }
  15% {
    background: rgb(43, 2, 73);
  }
  30% {
    background: rgb(5, 5, 90);
  }
  42% {
    background: rgb(5, 61, 5);
  }
  50% {
    background: rgb(51, 51, 5);
  }
  70% {
    background: rgb(97, 64, 3);
  }
  85% {
    background: rgb(92, 2, 2);
  }
  100% {
    background: rgb(95, 32, 95);
  }
}

.blinkBg {
  animation: blink 10s infinite;
  -webkit-animation: blink 10s infinite;
}
