$breakpoints: (
  xxl: 2400px,
  xl: 1800px,
  lg: 1200px,
  md: 992px,
  sm: 768px,
  xs: 576px,
  xxs: 480px,
);

@mixin media($keys...) {
  @each $key in $keys {
    @media (max-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}
