:root {
  --color-teal: #03bd6f;
  --color-cyan: #00e5ff;
  --color-darkBlue: rgba(100, 66, 12, 0.609);
  --color-deepOrgange: #ff5722;
  --color-mainText: rgb(214, 209, 209);
  --lightGreenFont: rgb(119, 233, 42);
  --yellowFont: yellow;
  --orangeFont: orange;
  --purpleFont: rgb(235, 80, 235);
}

* {
  /* outline: 1px solid yellow; */
  /* z-index: 2; */
  transition: 0.8s ease-in-out;
}

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
/* font-family: "Shadows Into Light", cursive; */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
/* font-family: "Caveat", cursive; */

@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
/* font-family: 'Abel', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap");
/* font-family: 'Cabin Condensed', sans-serif; */

.polygon-Bg {
  height: 100%;
  width: 100%;

  background-image: url("./assets/portfolio/bgImg.jpg");
  background-repeat: repeat-y;
  position: absolute;
  z-index: 1;
  clip-path: polygon(80% 0, 100% 0, 100% 50%, 55% 100%, 0 100%, 0 12%);
  z-index: -1;
}

.color-Bg {
  min-height: 100%;
  width: 100%;
  position: absolute;
  background-color: #07337e;
  z-index: -2;
}
.App {
  height: 100vh;
  overflow: scroll;
  color: var(--color-mainText);
}

.main-title {
  font-weight: 700;
  color: var(--color-cyan);
  font-family: "Caveat", cursive;
}

.z2 {
  z-index: 2;
}

.lightGreenFont {
  color: var(--lightGreenFont);
}

.orangeFont {
  color: var(--orangeFont);
}

.purpleFont {
  color: var(--purpleFont);
}

.yellowFont {
  color: var(--yellowFont);
}

.deepOrangeFont {
  color: var(--color-deepOrgange);
}

.smallFont {
  font-size: 0.7rem;
}
