.navItems {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Shadows Into Light", cursive;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.hover-effects:hover {
  transition-delay: 0.2s;
  transform: scale(1.1);
  transition: 1s;
  color: var(--color-teal);
}

.text-teal {
  color: var(--color-teal);
}
