.navItems {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Shadows Into Light", cursive;
  a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 0;
  }
}

.hover-effects:hover {
  transition-delay: 0.1s;
  transform: scale(1.08);
  font-weight: 900;
  transition: 1s;
  color: var(--color-teal);
}

.borderLink {
  border-radius: 60% 30%;
  border: 2px solid var(--color-cyan);
}
