.navItems {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Shadows Into Light", cursive;
  a {
    text-decoration: none;
    color: inherit;
    padding: 0.5rem 0;
  }
}

.hover-effects:hover {
  transition-delay: 0.1s;
  transform: scale(1.08);
  font-weight: 900;
  transition: 0.5s;
  color: var(--color-cyan);
}

.borderLink {
  border-bottom: 2px solid var(--color-cyan);
}

.px-lg {
  padding-left: 6rem;
  padding-right: 6rem;
}
